body{background-color:#EFEFEF;}
.mr-topNavLogo{margin:0 15px;width:60px;background:url("images/logo.png") no-repeat center;background-size:contain;}
.mr-pageBody{position:absolute;top:0;left:0;right:0;bottom:0;overflow-y:auto;color:#cccccc;padding-top:70px;background:url("images/texture-grey.png");box-shadow:0 0 15px 5px #808080;}
