<div class="mr-geoappMain-intro panel panel-default">
    <div class="jumbotron">
        <h1>Geo App game</h1>
        <p>
            <a href="#geoApp/explore" class="btn btn-success btn-lg" role="button"><span class="glyphicon glyphicon-eye-open"></span> Explore</a>
            <a href="#geoApp/relax" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-glass"></span> Relax</a>
            <a href="#geoApp/challenge" class="btn btn-warning btn-lg" role="button"><span class="glyphicon glyphicon-tower"></span> Challenge</a>
        </p>
    </div>
</div>