<div class="panel panel-default">
    <div class="mr-geoappSide-countryInfo-header panel-heading">
        <h3 class="panel-title">More Info</h3>
    </div>
    <div class="mr-geoappSide-countryInfo-body panel-body">
        {{#if countryInfo.capital}}<div class="lead text-center">{{countryInfo.capital}}</div>{{/if}}
        {{#each countryInfo.language}}<em>{{this}}</em>,{{/each}}
        <div class="row">
            {{#if countryInfo.area}}<span class="col-lg-12 col-md-12 col-sm-6"><small><abbr title="Surface area">A</abbr>:</small> {{countryInfo.area}} km&sup2;</span>{{/if}}
            {{#if countryInfo.currency}}<span class="col-lg-12 col-md-12 col-sm-6"><small><abbr title="Currency">Cur</abbr>:</small> {{countryInfo.currency}}</span>{{/if}}
        </div>
    </div>
</div>