<div class="mr-geoappMain-mapPanel panel panel-default">
    <div class="mr-geoappMain-mapPanel-header panel-heading">
        <h3 class="panel-title">Geo Map</h3>
    </div>
    <div class="panel-body mr-geoappMain-map"></div>
</div>