<div class="mr-geoappSide-selectMode btn-group btn-group-justified">
    <div class="btn-group">
        <a href="#geoApp/explore" class="mr-geoappSide-selectModeExplore btn btn-success" data-mode="explore" title="Explore" role="button"><span class="glyphicon glyphicon-eye-open"></span></a>
    </div>
    <div class="btn-group">
        <a href="#geoApp/relax" class="mr-geoappSide-selectModeRelax btn btn-primary" data-mode="relax" title="Relax" role="button"><span class="glyphicon glyphicon-glass"></span></a>
    </div>
    <div class="btn-group">
        <a href="#geoApp/challenge" class="mr-geoappSide-selectModeChallenge btn btn-warning" data-mode="challenge" title="Challenge" role="button"><span class="glyphicon glyphicon-tower"></span></a>
    </div>
</div>