<aside class="mr-geoappSide">
    <div class="panel">
        <div class="mr-geoappSide-countryName panel-body">Country name will be displayed here</div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Score</h3>
        </div>
        <div class="panel-body">Player's score will go there</div>
    </div>
</aside>